/* styles.css
 *
 *
 */



/* CSS reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Add accessible line-height */
/* 4. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}


/***********************************************/

/* CSS basic styles */

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.4rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}




/***********************************************/

/* Title bar (web-based, not windows system) */

#titlebar {
  cursor: default;
  user-select: none;
  display: flex;
  align-items: stretch;

  height: 24px;
  line-height: 16px;    /* same as height, vertically centers text */
  padding-left: 10px;

  font-size: 0.9rem;
  text-wrap: nowrap;

  background-color: #191b4d;
  color: #c0c0c0;
}

.ahk-titleBar {
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
}

.ahk-title-btn {
  padding: 0.35em 1.0em;
  cursor: pointer;
  vertical-align: bottom;
  font-family: Webdings;
  font-size: 0.9rem;
}

body .ahk-title-btn-restore {
  display: none
}

body.ahk-maximized .ahk-title-btn-restore {
  display: block;
}

body.ahk-maximized .ahk-title-btn-maximize {
  display: none;
}

.ahk-title-btn:hover {
  background: rgba(0, 0, 0, .3);
}

.ahk-title-btn-close:hover {
  background: #dc3545;
}


/***********************************************/

/* Status bar */

#statusbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  height: 24px;
  line-height: 24px;    /* same as height, vertically centers text */
  padding-left: 10px;

  display: flex;
  align-items: stretch;

  user-select: none;
  font-size: 0.9rem;
  text-wrap: nowrap;

  background-color: #404040;
  color: #e0e0e0;
}

#statusbartext {
  flex-grow: 1;
}

#cancelbutton {
  float: right;
  display: none;
  align-items: center;

  border: none;
  border-radius: 12px;
  height: 20px;
  margin: 2px 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e0e0e0;
}
#cancelbutton:hover {
  background-color: #ffffff;
}
#cancelbutton:disabled {
}

#microphonestatus {
  float: right;
  width: 25%;
  min-width: 150px;
  max-width: 400px;
  background-color: #404040;
  padding: 0 16px;
  text-align: center;
  transition: background-color 0.2s;
}


/***********************************************/

/* Tab bar */

.tabbar {
  float: left;
  position: sticky;
  margin-top: 8px;
  width: 40px;
}

/* Tab icons */
.tab-icon {
  width: 40px;
  height: 48px;
  background-color: inherit; 
  background-repeat: no-repeat;
  background-position: 8px 12px;
  opacity: 50%;
  transition: opacity 0.2s;
}
.tab-icon.active, .tab-icon:hover {
  opacity: 100%;
  transition: opacity 0.2s;
}

#tab-home {
  background-image: url('../images/home.png');
}
#tab-settings {
  background-image: url('../images/settings.png');
}
#tab-windows {
  background-image: url('../images/windows.png');
}

/* these styles are for the PAActive On/Off switch */
#tab-active-wrapper {
  position: fixed;
  left: 5px;
  bottom: 48px;
  text-align: center;
}
#tab-active-wrapper > label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.5rem;
  color: #a0a0a0;
}
#tab-active {
  font-size: 1rem;
  display: block;
}
#taberr-active {
  display: none;
}
/* background color when the switch is on */
#tab-active:checked {
  background-color: #110080;
}


/***********************************************/

/* App bar */

.appbar {
  float: right;
  position: sticky;
  top: 20px;
  width: 48px;
  margin: 4px;
}

/* App icons */
.app-icon {
  width: 48px;
  height: 44px;
  background-color: inherit; 
  background-repeat: no-repeat;
  background-position: 7px 4px;
/*  padding: 4px;*/
}

#app-power {
  background-image: url('../images/power-off.png');
  background-position: 0;
  margin: 8px 0;
  transition: background-image 0.5s;
}
#app-VPN {
  background-image: url('../images/VPN-off.png');
  transition: background-image 0.5s;
}
#app-VPN:hover {
  background-image: url('../images/VPN.png');
  transition: background-image 0.2s;
}
#app-EI {
  background-image: url('../images/EI-off.png');
  transition: background-image 0.5s;
}
#app-PS {
  background-image: url('../images/PS-off.png');
  transition: background-image 0.5s;
}
#app-EPIC {
  background-image: url('../images/EPIC-off.png');
  transition: background-image 0.5s;
}

/* App group */
.app-group {
  border: 1px solid #404040
}


/***********************************************/

/* Context menus - from https://dev.to/iamafro/how-to-create-a-custom-context-menu--5d7p */

.context-menu {
  position: fixed;
  display: none;
  width: 150px;
  z-index: 1;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  transition: display 0.3s ease-in;

  .context-menu-list {
    list-style: none;
    z-index: 1;
    padding: 0;

    .context-menu-item {
      font-weight: 500;
      z-index: 1;
      font-size: 0.8rem;
      padding: 4px 8px;
      margin-right: 16px;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
      background: rgba(64, 64, 64, 0.4);
      cursor: pointer;

      &:hover {
        background: rgba(240, 240, 240, 0.2);
      }
    }
  }
}



/***********************************************/

/* Alert message styles */

.alert {
  padding: 5px 20px;
  background-color: #2196F3;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 10px;
}

.alert.info {background-color: #2196F3;}
.alert.success {background-color: #04AA6D;}
.alert.danger {background-color: #f44336;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  /* transition: 0.3s; */
}

.closebtn:hover {
  color: black;
}






/***********************************************/

/* PACS Assistant styles */

html {
  background-color: #101010;
  color: #e0e0e0;
}

body {
  overflow: hidden;
  height: 100%;
}



/***********************************************/

#main {
  border-left: 1px solid #202020;

  padding: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
}

#patient {
  display: inline-block;
  width: 60%;
}

#toolbar {
  display: inline-block;
  width: 40%;
  float: right;
}

#patientname {
  font-size: larger;
  font-weight: bold;
}

#agesex {
  display: inline;
  font-weight: bold;
}

#dob {
  display: inline-block;
  float: right;
}


#windowinfo {
  font-size: small;
  color: #a0a0a0;
}



/***********************************************/

/* Settings page */

#settings .col-left {
  display: block;
  float: left;
  width: 50%;
  padding: 5px;

  font-size: 0.9rem;
}

#settings .col-right {
  display: block;
  float: right;
  width: 50%;
  padding: 5px;

  font-size: 0.9rem;
}

#settingsform {

}

.set-cat {
  /* margin-top: 0.5rem; */
}
.set-cat > summary {
  font-weight: bold;
  color: lightblue;
  padding: 0.5rem 0;
  border-bottom: 1px solid #404040;
}

.set-opt {
  display: flex;
  padding-top: 0.25rem;
  padding-left: 1.25rem;
  border-bottom: 1px solid #404040;
}

.set-desc {
  flex: 4;
}
.set-indent1 {
  padding-left: 1.25rem;
}
.set-indent2 {
  padding-left: 2.5rem;
}
.set-err {
    color: #e00000;
}

.set-val {
  flex: 1;
  align-content: center;
  text-align: center;
  font-size: 0.8rem;
}

.set-val [type=checkbox] {
  font-size: 1rem;
}

.set-val [type=text], .set-val [type=password] {
  width: 100%;
  padding: 0 5px;
  border: none;
}

.set-val select {
  width: 100%;
  float: right;
  text-align: center;
}




/***********************************************/

/* Window manager page */

#windows .col-left {
  display: block;
  float: left;
  width: 70%;
  padding: 5px;

  font-size: 0.9rem;
}

#windows .col-right {
  display: block;
  float: right;
  width: 30%;
  padding: 5px;

  font-size: 0.9rem;
}




/***********************************************/

/** Toggle switch css 
 * See https://alvaromontoro.com/blog/68017/creating-a-css-only-toggle-switch
 */

/* this generates the outline of the switch (outer part) */
input:where([type="checkbox"][role="switch"]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  color: inherit;
  font-size: inherit;
  width: 2em;
  height: 1em;
  box-sizing: content-box;
  border: 1px solid #808080;
  border-radius: 1em;
  vertical-align: text-bottom;
  margin: auto;
  background-color: #404040;
  transition: background-color 0.1s;
}

/* change the background color when the switch is on */
input:where([type="checkbox"][role="switch"]):checked {
  background-color: #008000;
  transition: background-color 0.1s;
}

 /* ::before generates the switch (inner part) */
input:where([type="checkbox"][role="switch"])::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  box-sizing: border-box;
  width: 0.7em;
  height: 0.7em;
  margin: 0 0.15em;
  border: 1px solid;
  border-radius: 50%;
  background: currentcolor;
  transition: left 0.1s;
}

/* move the switch position when the switch is on */
input:where([type="checkbox"][role="switch"]):checked::before {
  left: 1em;
  transition: left 0.1s;
}

/* if the switch is disabled  */
input:where([type="checkbox"][role="switch"]):disabled {
  opacity: 0.4;
}

