.vscode
assets
docs
icd
settings.ini
settings.skl424.ini
Window info from Window Spy.txt

Standalone/PACS Assistant/*
!Standalone/PACS Assistant/PACS Assistant.exe
!Standalone/PACS Assistant/README.txt